
body{
    background-color: steelblue ;
}
h1{
    font-size: 50px;
    text-align: center;
    color: red;
}

nav{
    margin-bottom: 100px;
    border: 1px solid;
    color: black;
}
/* footer{
    border: 1px solid;
    margin-top: 500px;
    color: black;
} */
ul{
    color: black;

}

#list{
    display: flex;
    
}

#a{
    padding-top: 50px;
    padding-left: 300px;
}


.Design{
    /* background-color: aqua; */
    margin: auto;
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    width: 1000px;
    flex-wrap:wrap;
    gap: 100px;
}
.design{
    background-color: white;
    flex: 1 1 20%;
    padding-top: 30px;
    padding-left: 10px;
}



.design img{
    margin-left: 20px;
    padding-bottom: 20px;
    display: flex;
    
}
.design p{
    text-align:center;
}
a{
    color: black;
}

#foot{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    margin-top: 500px;
    color: blue;
}

#H{
    color: red;
}

#A{
    color: red;
}